body {
    background-color: rgb(255, 255, 255);
}

h1{
    color: blueviolet;
}

h2 {
    color: rgb(168, 96, 197);
}

h3 {
    color: brown;
}

div{
    box-shadow: 10px 5px 5px red;
}

div, h1, h2, h3 {
    text-align: center;
}

.photo_shrek {
    background-color: #0C9;
    border: 3px black dotted;
    border-radius: 30% 70% 50% 50% / 30% 30% 70% 70% ; 
    width: 40%;
    margin: auto;
    }

.texte {
    background-color: #0C9;
    border: 3px black dotted;
    width: 40%;
    margin: auto;
    }
img {
    border-radius: 50%;
}