body {
    background-color: rgb(174, 218, 172);
}

h1{
    color: blueviolet;
}

h2 {
    color: rgb(168, 96, 197);
}

h3 {
    color: brown;
}

div, h1, h2, h3 {
    text-align: center;
}

.photo_shrek {
    background-color: #0C9;
    border: 3px black dotted;
    width: 20%;
    margin: auto;
    }

.texte {
    background-color: #0C9;
    border: 3px black dotted;
    width: 40%;
    margin: auto;
    }